
header {
  width: 100%;
  padding: 1.2em;
  text-align: center;
  border-bottom: 3px solid #5a3925;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  background-color: #87ceeb;
}

header h1 {
  font-size: 2em;
  color: #fcefc1;
  font-family: 'Georgia', serif;
  text-shadow: 1px 1px #3b2416;
  margin: 0 auto;
  padding: 0.2em 0.5em;
  display: inline-block;
  background: linear-gradient(to bottom, #b0753e, #7b4f2c);
  border: 3px solid #3b2416;
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

#content {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
  background: linear-gradient(#fef8e0, #f9f1d2);
  border: 2px solid #b08b5c;
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(139, 69, 19, 0.3),
              0 0 12px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', serif;
}
